@import '@material/checkbox/mixins';
@import '@material/ripple/mixins';
@import '@material/theme/functions';
@import '../../../lib/core/theming/theming';
@import '../../../lib/core/typography/typography-utils';
@import '../../../cdk/a11y/a11y';

@import '@material/checkbox/mdc-checkbox';
@import '@material/form-field/mdc-form-field';

@mixin mat-mdc-checkbox-theme($theme) {
  $primary: mat-color(map-get($theme, primary));
  $accent: mat-color(map-get($theme, accent));
  $warn: mat-color(map-get($theme, warn));
  $background: mat-color(map-get($theme, background), background);

  $mdc-theme-primary: $primary !global;
  $mdc-theme-on-primary: if(mdc-theme-contrast-tone($mdc-theme-primary) == "dark", #000, #fff) !global;

  $mdc-theme-secondary: $accent !global;
  $mdc-theme-on-secondary: if(mdc-theme-contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !global;

  $mdc-theme-background: $background !global;

  $mdc-theme-surface: $background !global;
  $mdc-theme-on-surface: if(mdc-theme-contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !global;

  $mdc-theme-error: $warn !global;
  $mdc-theme-on-error: if(mdc-theme-contrast-tone($mdc-theme-error) == "dark", #000, #fff) !global;

  $mdc-theme-property-values: (
    // Primary
      primary: $mdc-theme-primary,
    // Secondary
      secondary: $mdc-theme-secondary,
    // Background
      background: $mdc-theme-background,
    // Surface
      surface: $mdc-theme-surface,
    // Error
      error: $mdc-theme-error,
      on-primary: $mdc-theme-on-primary,
      on-secondary: $mdc-theme-on-secondary,
      on-surface: $mdc-theme-on-surface,
      on-error: $mdc-theme-on-error,
    // Text-primary on "background" background
      text-primary-on-background: mdc-theme-ink-color-for-fill_(primary, $mdc-theme-background),
      text-secondary-on-background: mdc-theme-ink-color-for-fill_(secondary, $mdc-theme-background),
      text-hint-on-background: mdc-theme-ink-color-for-fill_(hint, $mdc-theme-background),
      text-disabled-on-background: mdc-theme-ink-color-for-fill_(disabled, $mdc-theme-background),
      text-icon-on-background: mdc-theme-ink-color-for-fill_(icon, $mdc-theme-background),
    // Text-primary on "light" background
      text-primary-on-light: mdc-theme-ink-color-for-fill_(primary, light),
      text-secondary-on-light: mdc-theme-ink-color-for-fill_(secondary, light),
      text-hint-on-light: mdc-theme-ink-color-for-fill_(hint, light),
      text-disabled-on-light: mdc-theme-ink-color-for-fill_(disabled, light),
      text-icon-on-light: mdc-theme-ink-color-for-fill_(icon, light),
    // Text-primary on "dark" background
      text-primary-on-dark: mdc-theme-ink-color-for-fill_(primary, dark),
      text-secondary-on-dark: mdc-theme-ink-color-for-fill_(secondary, dark),
      text-hint-on-dark: mdc-theme-ink-color-for-fill_(hint, dark),
      text-disabled-on-dark: mdc-theme-ink-color-for-fill_(disabled, dark),
      text-icon-on-dark: mdc-theme-ink-color-for-fill_(icon, dark)
  ) !global;

  $mdc-checkbox-mark-color: mdc-theme-prop-value(on-secondary) !global;
  $mdc-checkbox-border-color: rgba(mdc-theme-prop-value(on-surface), .54) !global;
  $mdc-checkbox-disabled-color: rgba(mdc-theme-prop-value(on-surface), .26) !global;
  $mdc-checkbox-baseline-theme-color: secondary !global;

  @include mdc-checkbox-ink-color($mdc-checkbox-mark-color);
  @include mdc-checkbox-focus-indicator-color($mdc-checkbox-baseline-theme-color);
  @include mdc-checkbox-container-colors;
  @include mdc-checkbox-disabled-container-color_;

  mat-mdc-checkbox {
    &.mat-primary {
      @include mdc-checkbox-ink-color(mdc-theme-prop-value(on-primary));
      @include mdc-checkbox-focus-indicator-color(primary);
      @include mdc-checkbox-container-colors(
          $marked-stroke-color: primary,
          $marked-fill-color: primary);

      .mdc-checkbox {
        @include mdc-states(primary);
      }
    }

    &.mat-warn {
      @include mdc-checkbox-ink-color(mdc-theme-prop-value(on-error));
      @include mdc-checkbox-focus-indicator-color(error);
      @include mdc-checkbox-container-colors(
          $marked-stroke-color: error,
          $marked-fill-color: error);

      .mdc-checkbox {
        @include mdc-states(error);
      }
    }
  }

  .mdc-checkbox {
    @include mdc-states($mdc-checkbox-baseline-theme-color);
  }

  .mdc-form-field {
    @include mdc-theme-prop(color, text-primary-on-background);
  }
}

@mixin mat-checkbox-typography($config) {
  // TODO: (do similar setting of global vars
  .mat-checkbox {
    font-family: mat-font-family($config);
  }

  // TODO(kara): Remove this style when fixing vertical baseline
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: mat-line-height($config, body-2);
  }
}
